extends layout

block content
	div#content
		h1= title
		if (logged == true)
			canvas#velha(height="300", width="300") Canvas não habilitado em seu navegador
			input(type="button", value="Zerar", onclick="javascript:clear()")
		div
			a(href="/logout") Sair
	script(src='javascripts/gameinterface.js')