extends layout
block content
	div#content
		h1= title
		div#game
		if (logged == true)
			div#userList
				p Escolha um jogador da lista
				ul
				each user in userList
					li 
						a#requester(href="#", onclick="return GameInterface.requestplay(this)", rel=user._id) #{user.username}
		if (logged == true)
			div#layer.hidden
				canvas#velha(height="300", width="300") Canvas não habilitado em seu navegador
				input(type="button",value="Novo Jogo", onclick="return clearBoard()")

		div(style="float:right")
			a(href="/logout") Sair
		script(src='javascripts/gameinterface.js')
