extends layout

block content
	div#content
		h1= title
		div#game
		if (logged == true)
			p Escolha um jogador da lista
			div#userList
			ul
			each user in userList
				li 
					a#requester(href="#") #{user.username}
		div(style="float:right")
			a(href="/logout") Sair