extends layout

block content
	div#content
		h1= title
		p Cadastre-se para jogar
		if (logged == true)
			canvas#velha(height="300", width="300") Canvas não habilitado em seu navegador
			input(type="button", value="novo", onclick="javascript:novo()")