extends layout

block content
	div#content
		h1= title
		p Informe suas credenciais
		form(action="login", method="post")
			#username
				label Usuário
					input(name="user[username]")
			#password
			label Senha
				input(name="user[password]", type="password")
			#send
				input(type="submit", value="Login")
		div(style="float:right")
			a(href="/register") Registre-se 
			b &nbsp;&nbsp;	