extends layout

block content
	div#content
		h1= title
		p Informe seus dados
		form(action="register", method="post")
			#username
				label Usuário
					input(name="username")
			#password
			label Senha
				input(name="password", type="password")
			#send
				input(type="submit", value="Registrar")
		div(style="float:right")
			a(href="/login") Login 
			b &nbsp;&nbsp;